{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/taskdetail.css' %}">
    <title>Task Details</title>
</head>
<body style="background: url('https://wallpapercave.com/wp/wp7952670.jpg')no-repeat;">


<center>
    <h1>TASK DETAILS</h1>
<form method="post" action="" class="myform">

<h1 class="myh">{{tasks.title}}
    </h1>
    <center><span class="badge {% if tasks.completed %}badge-completed{% else %}badge-pending{% endif %}">
        {% if tasks.completed %}Completed{% else %}Pending{% endif %}
    </span>
</center>
    <br><br>
<a href ="{% url 'task1' %}">Go Back</a>

</form>
    </center>

</body>
</html>